body{
    margin: 0px;
    padding: 0px;
}

#navbar{
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: rgb(186, 249, 249);
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

#navbar li a{
    text-decoration: none;
    margin-right: 20px;
}

#navbar li a img{
    width: 80px;
    margin-right: 200px;
}

#download{
    margin-left: 200px;
    background-color: rgb(27, 45, 61);
    padding-top: 5px;
    padding-left: 15px;
    border-radius: 20px;

}
#download a{
    color: white;
}